{% extends 'base.html.twig' %}

{% block titke %} New Airport {% endblock %}

{% block body %}
	<div class="container mt-3">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}	